*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font: normal 400 14px/normal system-ui, -apple-system, sans-serif;
}

aside.examples {
  box-shadow: 0 0 10px -8px black;
  transition: transform 0.2s;
  background-color: white;

  min-height: 100dvh;
  position: relative;

  overflow-y: auto;
  min-width: 240px;

  height: 100%;
  width: 15vw;
  z-index: 1;

  &.hidden {
    transform: translateX(-100%);
  }
}

div.content {
  margin: 25px auto 50px 20px;
  max-width: 75%;
}

a {
  transition: transform 0.2s, color 0.2s;
  transform: translateX(0px);

  text-decoration: none;
  font-weight: bold;
  overflow: hidden;

  display: table;
  color: inherit;
  outline: none;

  &:hover {
    color: #005a9c;
  }

  &[title="UWAL"] > img:first-child {
    vertical-align: text-bottom;
    display: inline-block;
    margin-right: 5px;

    height: 32px;
    width: 32px;
  }

  &[title="UWAL"]:hover > h1.title {
    color: #0093ff;
  }
}

h1.title {
  transform: translateY(1px);
  transition: color 0.2s;
  display: inline-block;

  font-weight: 800;
  font-size: 18px;

  color: #005a9c;
  outline: none;
  margin: 0px;
}

h2.subtitle {
  margin: 20px 0 40px;
  font-weight: 400;
  font-size: 18px;
}

ul#list {
  margin: 0;
  padding: 0;
  row-gap: 20px;

  flex-direction: column;
  padding-left: 20px;
  display: flex;

  > a::before {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 8px solid black;

    transform: translateX(-8px);
    transition: transform 0.2s;
  
    display: inline-block;
    position: relative;
    margin-right: 4px;

    content: "";
    height: 0px;
    width: 0px;
  }

  > a.active {
    transform: translateX(10px);
    pointer-events: none;

    &::before {
      transform: translateX(0px);
    }
  }
}

canvas {
  max-width: calc(100vw - 240px);
  position: absolute;
  width: 85vw;

  bottom: 0;
  right: 0;
  top: 0;
}

button#examples {
  margin-bottom: 2.5vw;
  margin-left: 2.5vw;

  display: none;
  z-index: 1;

  bottom: 0;
  left: 0;
}

@media screen and (max-width: 960px) {
  aside.examples {
    width: 100%;
  }

  div.content {
    margin-inline: auto;
    max-width: 240px;
  }

  canvas {
    max-width: 100vw;
    width: 100vw;
  }

  button#examples {
    display: block;
  }
}
