*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font: normal 400 14px/normal system-ui, -apple-system, sans-serif;
}

aside.examples {
  box-shadow: 0 0 10px -8px black;
  min-height: 100dvh;
  position: relative;

  background: white;
  overflow-y: auto;
  min-width: 240px;

  height: 100%;
  width: 15vw;
  z-index: 1;
}

div.content {
  margin: 25px auto 50px 20px;
  max-width: 75%;
}

a {
  transition: transform 0.2s ease, color 0.2s;
  transform: translateX(0px);

  text-decoration: none;
  font-weight: bold;
  overflow: hidden;

  display: table;
  color: inherit;
  outline: none;
}

a:hover {
  color: #005a9c;
}

h1.title {
  transition: color 0.2s;
  font-weight: 800;
  font-size: 18px;

  color: #005a9c;
  outline: none;
  margin: 0px;
}

h1.title:hover {
  color: #0093ff;
}

h2.subtitle {
  margin: 20px 0 40px;
  font-weight: 400;
  font-size: 18px;
}

ul#list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

ul#list > a::before {
  transform: translateX(-8px);
  transition: transform 0.2s ease;

  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 8px solid black;

  display: inline-block;
  position: relative;
  margin-right: 4px;

  content: "";
  height: 0px;
  width: 0px;
}

ul#list > a.active {
  transform: translateX(10px);
  pointer-events: none;
}

ul#list > a.active::before {
  transform: translateX(0px);
}

canvas {
  max-width: calc(100vw - 240px);
  position: absolute;
  width: 85vw;

  bottom: 0;
  right: 0;
  top: 0;
}

button#code {
  transition: opacity 0.2s ease, color 0.2s;
}

button#code.hidden {
  pointer-events: none;
  opacity: 0;
}
