---
---

@import "{{ site.theme }}";

a {
  transition: color 0.2s;
  color: #005a9c;
}

a:hover {
  color: #0093ff;
}

body > div.wrapper {
  > header {
    > h1:first-child {
      display: none;
    }

    > p:nth-child(3) {
      text-align: center;
      text-wrap: balance;
    }

    @media print, screen and (max-width: 720px) {
      text-align: center;

      > ul.downloads:last-child {
        margin: 0 auto 20px;
      }
    }
  }

  > section > p:first-child {
    display: none;
  }
}
