html,
body {
  height: 100%;
  margin: 0px;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
}

button#code {
  box-shadow: 0 0 12px -8px black;
  margin: 0px 2.5vw 2.5vw 0px;

  font-family: monospace;
  letter-spacing: -2px;

  background: white;
  border-radius: 50%;
  position: absolute;

  font-weight: 800;
  font-size: 20px;
  cursor: pointer;

  padding: 0px;
  border: none;

  height: 50px;
  width: 50px;

  bottom: 0;
  right: 0;
}

/* preview.css */
